<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>归档页面：时间线组件</title>
</head>
<body>

<div class="m-padding-large m-margin-top-large" th:fragment="timeLine">
    <h2 class="ui center aligned header">2022年</h2>
    <div class="ui segment m-div-radius m-div-shadow">
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 论成功之路上有无捷径？
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2022-10-12
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 马云为什么成功？
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2022-05-22
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">转载</div>
            </div>
        </div>
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 梦与星光的海上
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2022-04-11
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
    </div>

    <h2 class="ui center aligned header">2021年</h2>
    <div class="ui segment m-div-radius m-div-shadow">
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 论成功之路上有无捷径？
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2022-10-12
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 钢铁是怎样炼成的
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2021-12-03
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">转载</div>
            </div>
        </div>
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> SpringBoot 自动装配原理探究
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2021-06-14
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
    </div>

    <h2 class="ui center aligned header">2020年</h2>
    <div class="ui segment m-div-radius m-div-shadow">
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 论成功之路上有无捷径？
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2022-10-12
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
        <div class="ui grid m-file-bottom-border">
            <!--文章标题-->
            <div class="nine wide column">
               <span>
                    <a href="#" target="_self" class="item m-black m-text-middle">
                    <i class="thumbtack icon"></i> 梦想的旗帜飘扬
                </a>
               </span>
            </div>
            <!--发布时间-->
            <div class="four wide column">
                <div class="ui blue basic mini label">
                    <i class="clock icon"></i> 2021-07-23
                </div>
            </div>
            <!--转载或者原创-->
            <div class="three wide column right aligned">
                <div class="ui pink mini label">原创</div>
            </div>
        </div>
    </div>

</div>

</body>
</html>