<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>页首导航栏</title>
</head>
<body>

<nav class="ui inverted segment attached m-padding-tb-mini m-header-shadow animate__animated animate__fadeIn"
     th:fragment="blogHeader(pageName)" id="top-nav">
    <div class="ui container">
        <div class="ui inverted secondary menu m-div">
            <h3 class="ui teal header item m-head">悟道九霄</h3>
            <a th:href="@{/}" class="item" th:classappend="${#strings.equals(pageName, 'index')} ? 'active'">
                <i class="home icon"></i>
                首页
            </a>
            <a  th:href="@{/sort/-1/-1}" class="item" th:classappend="${#strings.equals(pageName, 'sort')} ? 'active'">
                <i class="sort icon"></i>
                分类
            </a>
            <a  th:href="@{/tags/-1/-1}" class="item" th:classappend="${#strings.equals(pageName, 'tags')} ? 'active'">
                <i class="tags icon"></i>
                标签
            </a>
            <a  th:href="@{/archive}" class="item" th:classappend="${#strings.equals(pageName, 'archive')} ? 'active'">
                <i class="clone icon"></i>
                归档
            </a>
            <a th:href="@{/about}" class="item" th:classappend="${#strings.equals(pageName, 'aboutMe')} ? 'active'">
                <i class="user outline icon"></i>
                关于我
            </a>
            <a  href="#" class="item" th:classappend="${#strings.equals(pageName, 'link')} ? 'active'">
                <i class="linkify icon"></i>
                友链
            </a>
            <a th:href="@{/admin}" class="item" target="_blank">
                <i class="terminal icon"></i>
                管理员登录
            </a>

            <!--搜索框-->
            <div class="right item">
                <div class="ui small category search">
                    <form name="search" th:action="@{/search}" class="ui form" method="post" target="_self">
                        <div class="ui icon input inverted transparent">
                            <input type="text" name="queryText" placeholder="Search..." style="color: #e2e2e2">
                            <i class="search link icon" onclick="document.forms['search'].submit()"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>