<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>页首导航栏</title>
</head>
<body>


<nav class="ui inverted segment attached m-padding-tb-mini m-header-shadow" th:fragment="blogHeader">
    <div class="ui container">
        <div class="ui inverted secondary menu m-div">
            <h3 class="ui teal header item m-head">悟道九霄</h3>
            <a th:href="@{/}" class="item">
                <i class="home icon"></i>
                首页
            </a>
            <a th:href="@{/tag}" class="item">
                <i class="tags icon"></i>
                标签
            </a>
            <a th:href="@{/game}" class="item">
                <i class="bed icon"></i>
                杂谈
            </a>
            <a th:href="@{/file}" class="item">
                <i class="clone icon"></i>
                归档
            </a>
            <a th:href="@{/info}" class="item">
                <i class="user outline icon"></i>
                关于我
            </a>
            <a th:href="@{/link}" class="item">
                <i class="linkify icon"></i>
                友链
            </a>

            <!--搜索框-->
            <div class="right item">
                <div class="ui small category search">
                    <div class="ui icon input inverted transparent">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>