<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分类页面：分类列表</title>
</head>
<body>

<div class="ui attached segment m-div-radius m-div-shadow m-padding-bottom" th:fragment="classInfo">
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">游戏人生</a>
        <div class="ui basic left pointing label">8</div>
    </div>
    <div class="ui labeled button m-class-rb-margin m-div-shadow">
        <a href="#" class="ui basic teal button">看世界</a>
        <div class="ui basic teal left pointing label">14</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">学习笔记</a>
        <div class="ui basic left pointing label">54</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">杂谈</a>
        <div class="ui basic left pointing label">4</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">JavaWeb</a>
        <div class="ui basic left pointing label">12</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">SpringBoot</a>
        <div class="ui basic left pointing label">398</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">摄影</a>
        <div class="ui basic left pointing label">28</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">爱情游戏</a>
        <div class="ui basic left pointing label">6</div>
    </div>
</div>

</body>
</html>