<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分类页面：分类列表</title>
</head>
<body>

<div class="ui attached segment m-div-radius m-div-shadow m-padding-bottom">
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">Python</a>
        <div class="ui basic left pointing label">18</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">C 语言</a>
        <div class="ui basic left pointing label">1</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">C++</a>
        <div class="ui basic left pointing label">5</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui green basic button">SpringBoot</a>
        <div class="ui basic green left pointing label">23</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">SpringMVC</a>
        <div class="ui basic left pointing label">8</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">杂谈</a>
        <div class="ui basic left pointing label">8</div>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <a href="#" class="ui basic button">旅游</a>
        <div class="ui basic left pointing label">9</div>
    </div>

</div>

</body>
</html>