<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>归档页面：标题组件</title>
</head>
<body>

<div class="ui top attached padded segment m-div-shadow m-div-radius m-padding-bottom" th:fragment="timeTitle">
    <div class="ui middle aligned two column grid">
        <div class="column">
            <h3 class="ui teal header">归档</h3>
        </div>
        <div class="right aligned column">
            共 <h3 class="ui teal header m-inline-block">254</h3> 篇博客
        </div>
    </div>
</div>

</body>
</html>