/*-------------------
        body
------------------*/
body {
    background: white url("../img/adminBG.png") no-repeat fixed center top;
}

/*-------------------
    admin-login
------------------*/
.segment-size-login {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    text-align: center !important;
    width: 400px !important;
    height: 210px !important;
}

/*-------------------
        header
------------------*/
.nav-padding-tb-mini {
    padding-bottom: 0.05em !important;
    padding-top: 0.05em !important;
}

.nav-height {
    height: 1em;
}

.nav-lr-padding {
    padding-left: 0 !important;
    padding-right: 25px !important;
}

.nav-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7) !important;
}


/*-------------------
    blog-control
------------------*/
.container-tb-margin {
    margin-top: 25px !important;
    margin-bottom: 22px !important;
}

.container-radius {
    border-radius: 6px !important;
}

.container-shadow {
    box-shadow: 3px 3px 5px #acacac !important;
}

.info-title-margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.icon-opacity {
    opacity: 0.6 !important;
}


/*-------------------
      publish
------------------*/
.type-field-length {
    width: 150px !important;
}


/*-------------------
    tags-control
------------------*/
.input-width {
    width: 310px !important;
}

/*-------------------
    tags-update
------------------*/
.tags-text-opacity {
    opacity: 0.4 !important
}


/*-------------------
    link-add
------------------*/
.segment-size-add-page {
    margin: 160px 300px !important;
}

.btn-width {
    width: 120px !important;
}


/*-------------------
    link-update
------------------*/
.link-text-opacity {
    opacity: 0.4 !important
}

/*-------------------
     sort-add
------------------*/
.add-sort-size {
    width: 400px !important;
}

/*-------------------
     sort-update
------------------*/
.update-sort-size {
    width: 400px !important;
}

/*-------------------
     log-control
------------------*/
.log-select-width {
    width: 240px !important;
}

.log-url-width {
    width: 550px !important;
}

.segment-tb-margin {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.query-padding-left {
    padding-left: 34px !important;
}

.back-padding-left {
    padding-left: 28px !important;
}

/*-------------------
     sort-control
------------------*/
.head-inline-block {
    display: inline-block !important;
}