.m-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 2em !important;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}
.m-opacity {
    opacity: 0.7 !important;
}