.m-padding-tb-mini {
    padding-bottom: 0.05em !important;
    padding-top: 0.05em !important;
}
.m-div{
    height: 1em;
}
.m-head {
    padding-left: 0 !important;
    padding-right: 25px !important;
}

