.m-side-shadow {
    box-shadow: 3px 3px 5px #cecece !important;
}
.m-side-radius {
    border-radius: 6px !important;
}
.m-side-padding-top {
    padding-top: 0.3em !important;
}
.m-side-margin-rb {
    margin-bottom: 10px !important;
    margin-right: 22px !important;
}
.m-black {
    color: #4c4c4c !important;
}
.m-bottom-color {
    border-bottom: 2px solid #2185D0 !important;
}
.m-side-margin-large {
    margin-bottom: 24px !important;
}
.m-side-image-large {
    margin-top: 36px !important;
}
.m-top-margin-run {
    margin-top: 4px !important;
}
