<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客首页</title>
    <link rel="stylesheet" th:href="@{/semanticUi/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<!--头部导航栏-->
<div th:insert="~{/commons/header::blogHeader}"></div>

<!--中间内容-->
<div class="m-padding-middle">
    <div class="ui container">
        <div class="ui grid">

            <!--正文部分-->
            <div class="eleven wide column">
                <!--上方：标题信息-->
                <div class="ui top attached segment">
                    <div th:insert="~{/sm-model/mainPageTitle::mainTitle}"></div>
                </div>
                <!--中间：正文内容-->
                <div class="ui attached segment">
                    <div th:insert="~{/sm-model/mainPagePaperInfo::mainPages}"></div>
                </div>
                <!--下方：翻页按钮-->
                <div th:insert="~{/sm-model/mainPageTrun::trunPages}"></div>
            </div>

            <!--侧边栏部分-->
            <div class="five wide column">
                <div class="ui segment">
                    <h3>侧边栏组件预留区域</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!--footer信息栏-->
<div th:insert="~{/commons/footer::blogFooter}"></div>
</body>
</html>