<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>侧边栏：分类展示组件</title>
</head>
<body>

<div class="ui segments m-side-shadow m-side-margin-large m-div-radius" th:fragment="classShow">
    <!--分类标题栏-->
    <div class="ui secondary segment">
        <div class="ui two column grid">
            <div class="column">
                <h5><i class="idea icon"></i>分类</h5>
            </div>
            <div class="right aligned column">
                <a href="#" target="_self">More <i class="angle double right icon"></i></a>
            </div>
        </div>
    </div>
    <!--分类信息栏-->
    <div class="ui blue segment">
        <div class="ui fluid vertical menu m-side-shadow m-padding-bottom m-div-radius">
            <a href="#" class="item">学习心得<div class="ui label blue mini">14</div></a>
            <a href="#" class="item">生活杂谈<div class="ui label blue mini">2</div></a>
            <a href="#" class="item">旅游<div class="ui label blue mini">11</div></a>
            <a href="#" class="item">美女<div class="ui label blue mini">25</div></a>
            <a href="#" class="item">开阔眼界<div class="ui label blue mini">3</div></a>
        </div>
    </div>
</div>
</body>
</html>