<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>侧边栏：最新文章组件</title>
</head>
<body>

<div class="ui segments m-side-shadow m-side-margin-large m-div-radius">
    <!--最新文章标题-->
    <div class="ui secondary segment bottom m-bottom-color">
        <h5><i class="bookmark icon"></i>最新文章</h5>
    </div>
    <!--最新文章列表-->
    <div class="ui segment">
        <a href="#" class="m-black"><i class="book icon"></i>SpringBoot 学习笔记</a>
    </div>
    <div class="ui segment">
        <a href="#" class="m-black"><i class="book icon"></i>钢铁是怎样炼成的</a>
    </div>
    <div class="ui segment">
        <a href="#" class="m-black"><i class="book icon"></i>从百草原到三味书屋</a>
    </div>
    <div class="ui segment">
        <a href="#" class="m-black"><i class="book icon"></i>囚徒</a>
    </div>
    <div class="ui segment">
        <a href="#" class="m-black"><i class="book icon"></i>梦与星光的海上</a>
    </div>
</div>

</body>
</html>