<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>侧边栏：阅读排行榜组件</title>
</head>
<body>

<div class="ui segments m-side-shadow m-side-margin-large m-div-radius">
    <!--排行榜标题-->
    <div class="ui secondary segment m-bottom-color">
        <h5><i class="chart line icon"></i>阅读排行榜</h5>
    </div>

    <!--排行榜内容-->
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="book icon"></i>从百草原到三味书屋</a>
            </div>
            <div class="left aligned four wide column">
                <i class="eye icon"></i>9534
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="book icon"></i>梦与星光的海上</a>
            </div>
            <div class="left aligned four wide column">
                <i class="eye icon"></i>7751
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="book icon"></i>简爱</a>
            </div>
            <div class="left aligned four wide column">
                <i class="eye icon"></i>5421
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="book icon"></i>钢铁是怎样炼成的</a>
            </div>
            <div class="left aligned four wide column">
                <i class="eye icon"></i>1244
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="book icon"></i>囚徒</a>
            </div>
            <div class="left aligned four wide column">
                <i class="eye icon"></i>865
            </div>
        </div>
    </div>
</div>

</body>
</html>