<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>侧边栏：分类展示组件</title>
</head>
<body>

<div class="ui segments m-side-shadow m-side-margin-large m-div-radius" th:fragment="sortShow">
    <!--分类标题栏-->
    <div class="ui secondary segment">
        <div class="ui two column grid">
            <div class="column">
                <h5> <i class="tags icon"></i>分类</h5>
            </div>
            <div class="right aligned column">
                <a href="#" target="_self">More <i class="angle double right icon"></i></a>
            </div>
        </div>
    </div>
    <!--分类信息栏-->
    <div class="ui blue segment">
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">Java
            <div class="detail">15</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">Python
            <div class="detail">2</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">C++
            <div class="detail">13</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">MySql
            <div class="detail">33</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">Tomcat
            <div class="detail">5</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">旅游
            <div class="detail">8</div>
        </a>
        <a href="#" target="_self" class="ui green basic left pointing label m-side-margin-rb">日常见闻
            <div class="detail">12</div>
        </a>

    </div>
</div>
</body>
</html>