<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>侧边栏：分类展示组件</title>
</head>
<body>

<div class="ui segments m-side-shadow m-side-margin-large m-div-radius">
    <!--分类标题栏-->
    <div class="ui secondary segment">
        <div class="ui two column grid">
            <div class="column">
                <h5><i class="sort icon"></i>分类</h5>
            </div>
            <div class="right aligned column">
                <a href="#" target="_self">More <i class="angle double right icon"></i></a>
            </div>
        </div>
    </div>

    <!--分类信息栏-->
    <div class="ui segment blue">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="fire icon"></i>Java</a>
            </div>
            <div class="left aligned four wide column">
                <i class="star outline icon"></i>21
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="fire icon"></i>SpringBoot</a>
            </div>
            <div class="left aligned four wide column">
                <i class="star outline icon"></i>19
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="fire icon"></i>Rust</a>
            </div>
            <div class="left aligned four wide column">
                <i class="star outline icon"></i>16
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="fire icon"></i>JavaScript</a>
            </div>
            <div class="left aligned four wide column">
                <i class="star outline icon"></i>10
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="twelve wide column">
                <a href="#" target="_self" class="m-black"><i class="fire icon"></i>C++</a>
            </div>
            <div class="left aligned four wide column">
                <i class="star outline icon"></i>6
            </div>
        </div>
    </div>
</div>
</body>
</html>