<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>博文标题组件</title>
</head>
<body>

<div class="ui segment top attached m-div-shadow" th:fragment="blogTitle">
    <div class="ui grid">
        <div class="fourteen wide column">
            <div class="ui horizontal link list">
                <div class="item">
                    <img th:src="@{/img/favicon.png}" alt="作者头像" class="ui avatar image">
                    <div class="content"><h5>悟道九霄</h5></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i> 2022-01-23
                </div>
                <div class="item">
                    <i class="eye icon"></i> 4567
                </div>

                <div class="item">
                    <i class="comment outline icon"></i> 182
                </div>
            </div>
        </div>
        <div class="two wide column right aligned ">
            <div class="ui pink mini label">转载</div>
        </div>
    </div>
</div>

</body>
</html>