<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博文正文</title>
</head>
<body>


<div class="ui attached segment m-div-shadow blue m-div-radius" th:fragment="blogMain">
    <!--标题-->
    <h2 class="ui center aligned header m-padding-bottom-title">
        从两次高考落榜到创建阿里，马云的成功之路是什么？
    </h2>
    <!--正文-->
    <div id="content" class="m-padding-rlb">
        <p>
            我们经常的会羡慕别人是如何如何的成功，但是羡慕真的有用吗？我们看在眼里的是别人的成功，那么我们看到过别人的努力吗？
            难道那些能够成功的人都是天生的吗？其实并不是这样的。
        </p>
        <p>
            马云是家喻户晓的名人，虽然我们都知道他的成功，但是知道他曾经两次高考失利吗？
        </p>
        <p>
            1982年马云第一次参加高考的时候，数学只考了1分，毫无悬念地落榜了。那个时候的马云对人生充满了迷茫，之后与表弟一起去酒店打工，结果被酒店老板，
            直接拒绝了他选择了他表弟。原因是马云长相奇特，又矮又丑。之后他就去当了搬运工人。
            在第二年的时候马云不甘心，于是又再次参加了高考，然而这次依旧未能如愿，数学还是太差只有19分。
            家人劝他放弃的时候他又毅然决然地参加了第三次高考，虽然成绩不是很好，但是，因为英语成绩突出被特招进入了大学。
        </p>
        <p>
            马云并不是天生的聪明，那么他到底如何成功的呢，为什么会成为中国的首富？
        </p>
        <img th:src="@{/img/blog02.png}" alt="配图" class="ui rounded fluid image centered" style="width: 500px">
        <h4>第一：时代机遇</h4>
        <p>
            时代的风向是一个一个可遇而不可求的东西，你一旦没有抓住时代的风向，那么你就不可能会成功，你一旦失去就永远不再拥有。
            而马云就是一个善于抓住机遇的人，他从不放弃身边的机遇。
        </p>
        <h4>第二：战略眼光</h4>
        <p>
            战略眼光就是指一个人的远见，说简单点就是一个人对未来能够**看见别人看不到的发展趋势**，这就是常说的多识广便是如此。
            一个人的眼光深刻，看的东西多了，你的视野就开阔了，你就能更加深入地了解一个问题，看透一件事情。
            许多成功的人士都有着预见性性的战略眼光，看得到未来的发展。马云创立阿里巴巴、支付宝、阿里云等企业，哪一步不是长远的目光？
        </p>
        <h4>第三：敢想敢做</h4>
        <p>
            在现实中很多人敢于幻想，今天想想这个，明天想想那个，可是从来不去行动。那么，你永远不可能成功。
            马云就敢想敢做，马云创立阿里云的时候就力排众议，在2012年阿里云最艰难的时候马云说：放心大胆去做，一年投入10个亿，先做十年再说。
            正是马云的这种精神，让阿里云生存了下来，现在市值达到了8000多亿。
        </p>
        <h4>第四：知人善任</h4>
        <p>
            马云虽然不懂互联网技术，但是他懂得如何用好互联网技术人才。这是非常重要的，这是管理的奥义，让每一个人都能人尽其用，每个有用的人都出现在他该出现的位置。
            综上所述，这就是我所认可的马云之所以成功的原因所在。我们未必会成为马云那样的人，但是马云的人生的智慧却值得我们去学习，
            知道马云如何在纷乱的社会把握住时代的机遇。在《马云：我可以没有对手》看马云的开挂般的人生之路，学习马云的商业眼光、高效的管理、和人生的智慧。
        </p>

    </div>

    <!--标签、分类、赞赏-->
    <div class="ui grid m-padding-rl">
        <!--标签和分类-->
        <div class="eleven wide column">
            <div class="ui mini blue right pointing label">杂谈</div>
            <div class="ui mini green label">名人轶事</div>
        </div>
    </div>
</div>

</body>
</html>