<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签页：标题组件</title>
</head>
<body>

<div class="ui top attached segment m-div-shadow m-div-radius" th:fragment="tagsTitle">
    <div class="ui middle aligned two column grid">
        <div class="column">
            <h4 class="ui teal header">标签</h4>
        </div>
        <div class="right aligned column">
            共 <h3 class="ui teal header m-inline-block">34</h3> 个
        </div>
    </div>
</div>

</body>
</html>