<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>标签页面：博客列表组件</title>
</head>
<body>

<div class="ui attached segment m-div-radius m-div-shadow m-padding-bottom">
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesRight}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesRight}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesRight}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesRight}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesRight}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesLeft}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesLeft}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesLeft}"></div>
    <div th:insert="~{/sm-model/main-model/mainPagePaperInfo::mainPagesLeft}"></div>
</div>

</body>
</html>