<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签页面：标签列表</title>
</head>
<body>

<div class="ui attached segment m-div-radius m-div-shadow m-padding-bottom" th:fragment="tagsInfo">
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">31</div>
        <a href="#" class="ui basic button">梦与星光的海上</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">9</div>
        <a href="#" class="ui basic button">求职经历</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">55</div>
        <a href="#" class="ui basic button">SpringMVC</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic orange right pointing label">14</div>
        <a href="#" class="ui basic orange button">偶像生涯</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">2</div>
        <a href="#" class="ui basic button">名人传记</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">54</div>
        <a href="#" class="ui basic button">Python 笔记</a>
    </div>
    <div class="ui labeled button m-class-rb-margin">
        <div class="ui basic right pointing label">20</div>
        <a href="#" class="ui basic button">唯我独尊</a>
    </div>
</div>

</body>
</html>