<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuxiao.mapper.SortMapper">

    <!--查询所有分类列表-->
    <select id="queryAllSortList" resultType="Sort">
        select *
        from blog.t_sort
    </select>

    <!--通过名称查询分类-->
    <select id="querySortByName" resultType="Sort" parameterType="string">
        select *
        from blog.t_sort
        where name = #{name}
    </select>

    <!--通过 id 查询分类-->
    <select id="querySortById" resultType="Sort" parameterType="int">
        select *
        from blog.t_sort
        where id = #{id};
    </select>

    <!--增加分类-->
    <insert id="insertSort" parameterType="Sort">
        insert into blog.t_sort(id, name, ref_count, created_time, last_update_time)
            value (#{id}, #{name}, #{refCount}, #{createdTime}, #{lastUpdateTime});
    </insert>

    <!--根据 id 更新分类-->
    <update id="updateSortById" parameterType="Sort">
        update blog.t_sort
        set name             = #{name},
            ref_count        = #{refCount},
            created_time     = #{createdTime},
            last_update_time = #{lastUpdateTime}
        where id = #{id}
    </update>

    <!--通过 id 删除分类-->
    <delete id="deleteSortById" parameterType="int">
        delete
        from blog.t_sort
        where id = #{id};
    </delete>

    <!--查询分类表中的总数量-->
    <select id="queryMaxCount" resultType="int">
        select count(*)
        from blog.t_sort
    </select>

    <!--重新设置主键自增-->
    <update id="increaseFromThis">
        alter table blog.t_sort drop id;
        alter table blog.t_sort add id int(32) not null primary key auto_increment first
    </update>
</mapper>