<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>正文：正文下方翻页按钮</title>
</head>
<body>
<div class="ui bottom attached segment" th:fragment="trunPages">
    <div class="ui middle aligned two column grid">
        <div class="column">
            <a href="#" class="ui teal basic button mini"><i class="chevron left icon link"></i></a>
        </div>
        <div class="right aligned column">
            <a href="#" class="ui teal basic button mini"><i class="chevron right icon link"></i></a>
        </div>
    </div>
</div>
</body>
</html>